<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>AjaxServletController</display-name>
    <servlet-name>AjaxServletController</servlet-name>
    <servlet-class>ajax.AjaxServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController</servlet-name>
    <url-pattern>/ajax1.do</url-pattern>
  </servlet-mapping>
  <display-name>ch12_ajax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxServletIdCheck</display-name>
    <servlet-name>AjaxServletIdCheck</servlet-name>
    <servlet-class>ajax.AjaxServletIdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletIdCheck</servlet-name>
    <url-pattern>/idCheck.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletPostResponse</display-name>
    <servlet-name>AjaxServletPostResponse</servlet-name>
    <servlet-class>ajax.AjaxServletPostResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletPostResponse</servlet-name>
    <url-pattern>/ajax2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletController5</display-name>
    <servlet-name>AjaxServletController5</servlet-name>
    <servlet-class>ajax.AjaxServletController5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController5</servlet-name>
    <url-pattern>/ajax5.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletController6</display-name>
    <servlet-name>AjaxServletController6</servlet-name>
    <servlet-class>ajax.AjaxServletController6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletController6</servlet-name>
    <url-pattern>/ajax6.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletReplyList</display-name>
    <servlet-name>AjaxServletReplyList</servlet-name>
    <servlet-class>ajaxReply.AjaxServletReplyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletReplyList</servlet-name>
    <url-pattern>/ajaxReply/boardReply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletInsertReply</display-name>
    <servlet-name>AjaxServletInsertReply</servlet-name>
    <servlet-class>ajaxReply.AjaxServletInsertReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletInsertReply</servlet-name>
    <url-pattern>/ajaxReply/insertReply.do</url-pattern>
  </servlet-mapping>
</web-app>